# auth
# NB: an auth secret can be generated and injected automatically with `npx auth`, see https://cli.authjs.dev
AUTH_SECRET=""

# payment processing
STRIPE_SECRET_KEY=""
# comma separated list of Backfeed product IDs to use in development. Each sandbox environment has it's own isolated products.
# NB: when not defined, all active products within the environment will be used.
NEXT_PUBLIC_SANDBOX_PRODUCT_IDS=""

# testing
# username and password must be valid credentials for a user within the IDP
TEST_USERNAME=""
TEST_PASSWORD=""

# emails
RESEND_API_KEY=""

# whether to enable MSW for mocked network requests/responses
# NB: Network requests/responses are mocked by default in test environments. This is only required if you want to mock requests/responses in development
# ENABLE_MSW=""
