.next
.swc
.yarn/*
!.yarn/releases
node_modules
coverage

# editor
.vscode

# environment
*.env*

# below are safe to commit: https://nextjs.org/docs/basic-features/environment-variables
!.env
!.env.development
!.env.production
!.env.local.template
