node_modules

# Tanstack
.tanstack
.output
.nitro
dist

# tests
coverage

# editor
.vscode

#generated artifacts
**/generated/*
!**/generated/.gitignore

# TLS/HTTPS
certificates

# environment
*.env*

# below are safe to commit: https://nextjs.org/docs/basic-features/environment-variables
!.env
!.env.development
!.env.production
!.env.test
!.env.local.template
